<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title></ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    Waiting for potential buyers to contact you....

    <ion-list>
        <ion-list-header> Interested Buyers </ion-list-header>
            <buyer-list-item>Potential Buyer A</buyer-list-item>
            <buyer-list-item>Potential Buyer B</buyer-list-item>
            <buyer-list-item>Potential Buyer C</buyer-list-item>
            <buyer-list-item>Potential Buyer D</buyer-list-item>
    </ion-list>


    <button class="btn btn-danger" (click)="clockOut()"> Clock Out </button>

</ion-content>

