<ion-split-pane>

  <!-- logged out menu -->
  <ion-menu id="loggedOutMenu" [content]="content">

    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="outer-content">

      <ion-list *ngIf="!agentMode">
        <ion-list-header>
        </ion-list-header>
        <button ion-item menuClose *ngFor="let p of appPages" (click)="openPage(p)">
          <ion-icon item-start [name]="p.icon" [color]="isActive(p)"></ion-icon>
          {{p.title}}
        </button>
      </ion-list>

      <ion-list *ngIf="!agentMode">
        <ion-list-header>

        </ion-list-header>
        <button ion-item menuClose *ngFor="let p of buyerPages" (click)="openPage(p)">
          <ion-icon item-start [name]="p.icon" [color]="isActive(p)"></ion-icon>
          {{p.title}}
        </button>
      </ion-list>

      <ion-list *ngIf="agentMode">
        <ion-list-header>
          Agent Options
        </ion-list-header>

        <button ion-item menuClose (click)="toggleAgentClockedIn()" *ngIf="!isAgentClockedIn">
          Clock In
        </button>

        <button ion-item menuClose (click)="toggleAgentClockedIn()" *ngIf="isAgentClockedIn">
          Clock Out
        </button>

      </ion-list>

      <ion-list>
        <button ion-item (click)="setAgentMode()">
          Agent Mode
        </button>
        <button ion-item (click)="setUserMode()">
          User Mode
        </button>
      </ion-list>

    </ion-content>

  </ion-menu>



  <!-- main navigation -->
  <ion-nav [root]="rootPage" #content swipeBackEnabled="false" main></ion-nav>

</ion-split-pane>
